<!DOCTYPE html>
<html>
    <head>
      <title>Empleados</title>
    </head>

      <body>
       <h2>EMPLEADOS</h2>
        <div id="note" class="tab">
          <ul class="tab-list"></ul>
         
          <div id="EMPLEADOS" class="tab-content">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="txtNombre"><br><br>
            <label for="nombre">Apellido Paterno:</label>
            <input type="text" id="Ap" name="txtAp"><br><br>
            <label for="nombre">Apellido Materno:</label>
            <input type="text" id="Am" name="txtAm"><br><br>
        

          <button onclick="entrada()">Agregar</button>
         </div>
       </div>
      </body>
</html>
