<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SYOPRA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        <ul class="nav justify-content-center">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Activo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Enlace de navegación mucho más largo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Enlace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Deshabilitado</a>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </nav>

  </nav>

</head>
    
<body>
  <section class="form">
    <h2>GUARDAR MATERIAL</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <label for="Nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre"><br><br>
    <label for="Categoria">Categoria:</label>
    <input type="text" id="categoria" name="categoria"><br><br>
    <label for="Cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad"><br><br>
    <label for="Max">Max:</label>
    <input type="number" id="max" name="max"><br><br>
    <label for="Min">Min:</label>
    <input type="number" id="min" name="min"><br><br>
    <button onclick="guardarmaterial()">Guardar</button>
  </section>

  <br>
  <br>

  <section class="form">
    <table>
    <h1>EDITAR REGISTRO</h1>
    
    <thead>
      <tr>
        <td>id: </td>
        <td>Nombre Material: </td>
        <td>Categoria: </td>
        <td>Cantidad: </td>
        <td>Max: </td>
        <td>Min: </td>
      </tr>
    </thead>
    
      <tbody>
        {% for mat in Listamateriales %}
        <tr>
          <td>{{mat.0}} </td>
          <td>{{mat.1}} </td>
          <td>{{mat.2}} </td>
          <td>{{mat.3}} </td>
          <td>
            <a href=/editar/{{mat.0}}> EDITAR </a>
            <a href=/eliminar/{{mat.0}}> ELIMINAR  </a>
          </td>
        </tr>
        {%endfor%}
        <table>
      </tbody>
  </section>

  <br>
  <br>

  <section class="form">
    <h2>Guardar Solicitud de Materiales</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <label for="materialId">materialId:</label>
    <input type="text" id="materialId" name="materialId"><br><br>
    <label for="cantidad">cantidad:</label>
    <input type="number" id="cantidad" name="cantidad"><br><br>
    <label for="solicitanteId">solicitanteId:</label>
    <input type="number" id="solicitanteId" name="solicitanteId"><br><br>
    <label for="estado">estado:</label>
    <input type="text" id="estado" name="estado"><br><br>
    <label for="fecha">fecha:</label>
    <input type="date" id="fecha" name="fecha"><br><br>
    <button onclick="guardarsolicitud()">Guardar</button>
  </section>

  <section class="form">
    <table>
    <h1>Editar Solicitud</h1>
    
    <thead>
      <tr>
        <td>id: </td>
        <td>materialId: </td>
        <td>Cantidad: </td>
        <td>SolicitanteId: </td>
        <td>estado: </td>
        <td>fecha: </td>
      </tr>
    </thead>
    
      <tbody>
        {% for soli in Listasolicitudes %}
        <tr>
          <td>{{soli.0}} </td>
          <td>{{soli.1}} </td>
          <td>{{soli.2}} </td>
          <td>{{soli.3}} </td>
          <td>
            <a href=/editarSolicitud/{{soli.0}}> editar </a>
            <a href=/eliminarSolicitud/{{soli.0}}> eliminar </a>
          </td>
        </tr>
        {%endfor%}
        <table>
      </tbody>
  </section>



  <script>
    function guardarempleado() {
      // Aquí puedes incluir tu lógica para guardar el empleado
    }

    function guardarprovedor() {
      // Aquí puedes incluir tu lógica para guardar el proveedor
    }

    function registraentrada() {
      // Aquí puedes incluir tu lógica para registrar la entrada
    }
  </script>
</body>
</html>