<!DOCTYPE html>
<html>
    <head>
      <title>INVENTARIO</title>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="C:\Users\uziie\OneDrive\Documentos\GitHub\Proyecto-integrador\CSS\inventario.css">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    </head>
        <style>
             
        </style>

    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Syopra</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">material <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
              <li class="nav-item active">
                <a class="nav-link" href="#">empleado <span class="sr-only">(current)</span></a>
              <li class="nav-item dropdown">
                <li class="nav-item active">
                  <a class="nav-link" href="#">proveedor<span class="sr-only">(current)</span></a>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="#">compras material<span class="sr-only">(current)</span></a>
                  <li class="nav-item dropdown">
              
              </div>
            </li>
          </ul>
        </div>
        </nav>


      <seccion class="formINV">

        <h2>Guardar Cliente</h2>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre"><br><br>
          <label for="producto">Producto:</label>
          <input type="text" id="producto" name="producto"><br><br>
          <label for="cantidad">Cantidad:</label>
          <input type="text" id="cantidad" name="cantidad"><br><br>
          <button onclick="guardarc()">Guardar</button>
<br>
        <h2>Guardar Empleado</h2>
          <label for="nombre1">Nombre:</label>
          <input type="text" id="nombre1" name="nombre1"><br><br>
          <label for="area">Área:</label>
          <input type="text" id="area" name="area"><br><br>-
          <label for="puesto">Puesto:</label>
          <input type="text" id="puesto" name="puesto"><br><br>
          <button onclick="guardare()">Guardar</button>
<br>
         <h2>Guardar Proveedor</h2>
          <label for="nombre2">Nombre:</label>
          <input type="text" id="nombre2" name="nombre2"><br><br>
          <label for="producto2">Producto:</label>
          <input type="text" id="producto2" name="producto2"><br><br>
          <label for="cantidad2">Cantidad:</label>
          <input type="text" id="cantidad2" name="cantidad2"><br><br>
          <button onclick="guardarp()">Guardar</button>

            <script>
              function guardarc() {
                var nom = document.getElementById("nombre").value;
                var pro = document.getElementById("producto").value;
                var can = document.getElementById("cantidad").value;

              }

              function guardare() {
                var nom1 = document.getElementById("nombre").value;
                var area = document.getElementById("area").value;
                var pue = document.getElementById("puesto").value;
          
              }

              function guardarp() {
              var nom2 = document.getElementById("nombre2").value;
              var pro2 = document.getElementById("producto2").value;
              var can2 = document.getElementById("cantidad2").value;

            }
          </script>

      </seccion>

    </body>
</html>