<!DOCTYPE html>
<html>
    <head>
      <title>INVENTARIO</title>
    </head>
  ||||  <style>
            <>
        </style>

    <body>
      <seccion class="formINV">

        <h2>Guardar Cliente</h2>
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre"><br><br>
          <label for="producto">Producto:</label>
          <input type="text" id="producto" name="producto"><br><br>
          <label for="cantidad">Cantidad:</label>
          <input type="text" id="cantidad" name="cantidad"><br><br>
          <button onclick="guardarc()">Guardar</button>

        <h2>Guardar Empleado</h2>
          <label for="nombre1">Nombre:</label>
          <input type="text" id="nombre1" name="nombre1"><br><br>
          <label for="area">Área:</label>
          <input type="text" id="area" name="area"><br><br>-
          <label for="puesto">Puesto:</label>
          <input type="text" id="puesto" name="puesto"><br><br>
          <button onclick="guardare()">Guardar</button>

         <h2>Guardar Proveedor</h2>
          <label for="nombre2">Nombre:</label>
          <input type="text" id="nombre2" name="nombre2"><br><br>
          <label for="producto2">Producto:</label>
          <input type="text" id="producto2" name="producto2"><br><br>
          <label for="cantidad2">Cantidad:</label>
          <input type="text" id="cantidad2" name="cantidad2"><br><br>
          <button onclick="guardarp()">Guardar</button>

            <script>
              function guardarc() {
                var nom = document.getElementById("nombre").value;
                var pro = document.getElementById("producto").value;
                var can = document.getElementById("cantidad").value;

              }

              function guardare() {
                var nom1 = document.getElementById("nombre").value;
                var area = document.getElementById("area").value;
                var pue = document.getElementById("puesto").value;
          
              }

              function guardarp() {
              var nom2 = document.getElementById("nombre2").value;
              var pro2 = document.getElementById("producto2").value;
              var can2 = document.getElementById("cantidad2").value;

            }
          </script>

      </seccion>

    </body>
</html>